@media (max-width : 767px)
{
    #header
    {
        .content
        {
            h2 
            {
                
                text-wrap: balance;
            }
        }
        
    }
    table 
    {
         a 
            {
                text-decoration: none;
                color: inherit;
            }
        .btn-visit , .btn-delete
        {
            display: flex;
            align-items: center;
            overflow: hidden;
            padding-inline: 6px;
           
        }
         .btn-visit:hover , .btn-delete:hover
         {
            transform: scale(1) !important;
         }
        .btn-visit i 
        {

            transform: translateX(-200%);
            transition: all .5s;  
        }
        .btn-delete i
        {
            transform: translateX(-200%);
            transition: all .5s;  
        }
        .btn-visit:hover i 
        {
           transform: translateX(90%) scale(1.4) !important;
        }
        .btn-delete:hover i
        {
            transform: translateX(170%)   scale(1.4) !important ;
        }
        .btn-visit span 
        {
            font-size: 14px;
            transition: all .5s;
            transform: translateX(-30%);
        }
        .btn-delete span
        {
              font-size: 14px;
            transition: all .5s;
            transform: translateX(-10%);
        }
        .btn-visit:hover span 
        {
          transform: translateX(200%);
        }
        .btn-delete:hover span
        {
            transform: translateX(200%);
        }
    }
}
